*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.header{
    width: 100%;
    height: 70px;
    background: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
}

.page-container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    
}
.logo img{
    height: 60px;
    margin-right: 30px;
}
nav{
    display: flex;
    justify-content: center;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    align-items: center;
}
.download {
    display: flex;
    align-items: center;
    gap: 6px;

}
.download img{
    width: 160px;
    height: 30px;
    display: block;
}

.signinBtn{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #002970;
    height: 45px;
    padding: 0 16px 0 50px;
    border-radius: 25px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
    position: relative;
}

.signinBtn span{
    margin: 0;
    color: white;
}


.signinIcon{
    width: 32px;
    height: 32px;
    background: #00baf2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 8px;
}

.signinIcon img{
    width: 18px;
    height: 18px;
}
.upi-banner{
    margin-top: 20px;
}

.banner-container{
    max-width: 750px;
    margin: auto;
    background:#bbe5f3;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.banner-text p{
    margin-top: 10px;
    font-size: 20px;
    color:darkblue;
    margin-left: 18px;
    font-weight: bold;
}
.banner-text span{
    font-size: 15px;

}

.banner-btn button{
    background: black;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 25px;
    font-size: 14px;
    position: absolute;
    right: 180px;
    top: 15px;

}

.banner-img img{
    height: 80px;
    position: absolute;
    top: 2px;
    right: 25px;
    border-radius: 10px;
}
.recharge-section{
    display: flex;
    gap: 24px;
    align-items: flex-start;
}
    

.recharge-container{
    max-width: 850px;
    min-height: 240px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    flex: 3;
    margin-left:160px;
    
}

.recharge-container h2{
    font-size: 22px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.recharge-items{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 50px;
}

.item{
    text-align: center;
    cursor: pointer;

}

.item img{
    height: 48px;
}

.item p{
    margin-top: 8px;
    font-size: 14px;
}

.spend-container{
   
    margin: auto;
    flex: 1;
    position: relative;
    margin-right: 10px;
}
    

.spend-card{
    width: 350px;
    min-height: 240px;
    background: #bbe5f3;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    display: block;
}

.spend-card h3{
    font-size: 18px;
    font-weight: bold;
    color: darkblue;
    
}
.spend-card p{
    margin-top: 10px;
    font-size: 14px;
    color: darkblue;
}

.spend-card button{
    background:black;
    color: white;
    width:150px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 170px;
    right: 300px;
}
.spend-card img{
    height: 170px;
    width: 150px;
    position:absolute;
    top: 70px;
    right: 135px;
    
}
.thirdsec{
    display: flex;
    justify-self: center;
    margin-top: 40px;
}
.cash_back{
   width: 610px;
   height: 70px;
   background-color: #00baf2;
    border-radius: 35px;
    display: inline-block;
    margin-left:30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;

}
.cash_back p{
    color: white;
    font-size: 18px;
    margin-left: 80px;
  
}
.cbimg{
    border-radius: 50%;
    position:absolute;
    top: 500px;
    left: 155px;
}
.cashBtn{
    border-radius: 20px;
    background-color: #00baf2;
    color: white;
    height: 40px;
    width: 190px;
    position: relative;
    top: 3px;
    margin-right: 35px;
    border: 2px solid white;  
}
.pay_now{
   width: 610px;
   height: 70px;
   background-color:darkblue;
    border-radius: 30px;
    display: inline-block;
    margin-left:30px;
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 3px;
}
.payBtn{
    border-radius: 20px;
    background-color: darkblue;
    color: white;
    height: 40px;
    width: 140px;
    position: relative;
    border: 2px solid white;
    margin-right: 35px;
}
.pay_now p{
    color: white;
    font-size: 18px;
    margin-left: 90px;
}
.payimg{
    border-radius: 50%;
    position:absolute;
    top: 500px;
    right:660px;
}
.fourthsec{
    display: flex;
    justify-self: center;
    margin-top: 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.fourthsec1,
.fourthsec2,
.fourthsec3{
    margin-left: 10px;
    width: 400px;
    height: 140px;
}
.paytmTravel{
  margin-top: 20px;
  background: #EAF6FB;
    padding: 10px 0;
}
.flight-img
{
     width: 80px;
    height: 80px;
    margin-left: 130px;
    
}
.bus-img
{
     width: 80px;
    height: 80px;
    margin-left: 10px;
    
}
.trains-img
{
     width: 80px;
    height: 80px;
    margin-left: 10px;
    
}
.lntl-img
{
     width: 80px;
    height: 80px;
    margin-left: 20px;
    
}
.paytm_travel-img{
    margin-left: auto;
    position: relative;
   left: 700px;
   width: 180px;
    height: 110px;

}
.radio {
  font-family: Arial;
  font-size: 14px;
  margin-right: 20px;
  cursor: pointer;
}
.radio input {
  accent-color: #00baf2;
  transform: scale(1.3);
}
.trip-type{
  display: flex;
  gap: 20px;
}
.travel-section{
  width: 80%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.search-box{
  display: flex;
  align-items: center;
  margin-top: 15px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  position: relative;
 
}
.mumbai{
  position: absolute;
  top: 15px;
  left: 185px;
  width: 22px;    
  height: 22px;
}

.field{
  display: flex;
  flex-direction: column;
}

.field label{
  font-size: 12px;
  color: gray;
}

.field input{
  border: none;
  outline: none;/*removes the  border on click*/
  font-size: 15px;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
}
.search-btn{
  background:#00baf2;;
  color: white;
  border: none;
  padding: 14px 20px;
  border-radius: 6px;
  cursor: pointer;
}
.special-fares{
  margin-top: 20px;
  display: flex;
  gap: 12px;
  align-items: center;
}
div span h5{
    color: green;/*decendent selector*/
}
.fare{
  border: 1px solid #ddd;
  background: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}

.fare_now{
  background: #00baf2;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
  color: white;
  border: none;
 
}
.field{
  display: flex;
  flex-direction: column;
}
.with-line{
  border-right: 1px solid gray;
  padding-left: 8px;
  
}
.field input::placeholder{
  color: #00baf2;    /*to return make it blue*/
  font-weight: 600;
}
.user-section {
  background: white;
  border-radius: 25px;
  padding: 90px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  position: relative;

}
.user-section h1{
    font-size: 40px;
}
.user-section span{
    color: #00baf2;
}
.user-section .paytm-left p{
    font-size: 1rem;

}
.pay-details{
    background-color: white;
    border-radius: 35px;
    width:18%;
    height: 60%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    position: absolute;
   right: 190px;
   top: 100px; 
}
.pay-green{
    background-color: #EAF7F2;
    border-radius: 25px;
    padding: 25px 30px;
    height:180px;

}
.pay-green h2{
    font-size: 25px;
    font-weight: bold;
    margin-left: 30px;
   margin-top: 70px;
}
.pay-green p{
   font-size :18px; 
   font-weight: bold;

}
.greentick{
    position: absolute;
    top: 90px;
    right: 45px;

}
#center{
    font-size: 15px;
    text-align:center;
  }
.grey{
    color: grey;
    font-size: 11px;
    text-align: center;
}
section div span{
    text-align: center;
}
#blue{
    color: #1bb7e6;
    text-align: center;
    font-size: 12px;
    font-weight:bold;
}
.user1{
    position:absolute;
    top: 100px;
    right:450px;
    width: 130px;
}
.user2{
    position:absolute;
    top: 300px;
    right:450px;
    width: 130px;
}
.user3{
    position:absolute;
    top: 250px;
    left: 640px;
    width: 300px;

}
.user4{
    position: absolute;
    top: 500px;
    width:130px;
    left: 850px;
}
.user5{
    position: absolute;
    top:480px;
    width: 130px;
    right:40px;
}
.user6{
    position: absolute;
    top: 300px;
    width: 130px ;
    right: 40px;

}
.user7{
    position: absolute;
    top: 100px;
    right: 50px ;
    width: 130px;
}
.user8{
    position: absolute;
    top: 50px;
    right: 230px;
    width: 130px;  
    z-index:5;
}
.learnmore{
    display: flex;
    justify-self: center;
    margin-top: 40px;
}
.learndiv{
   width: 1220px;
   height: 70px;
   background-color:#00baf2;
    border-radius: 35px;
    display: inline-block;
    margin-left:30px;
    position: relative;
    display: flex;
    gap: 3px;

}
.learndiv p{
    color: white;
    font-size: 20px;
    margin-left: 90px;
  
}
.circlelogo{
    border-radius: 50%;
    position:absolute;
    top: 1855px;
    left: 185px;
    width: 50px;
    height: 50px;
}
.learnBtn{
    border-radius: 20px;
    background-color: #00baf2;
    color: white;
    height: 40px;
    width: 190px;
    position: absolute;
    top: 15px;
   right: 20px;
    border: 2px solid white;  
}
.card-section{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 80px auto;
  width: 90%;
}

.credit_card{
  width: 580px;
  height: 700px;
  border-radius: 30px;
  object-fit: cover;
}
.insurance{
  width: 580px;
  height: 700px;
  border-radius: 30px;
  object-fit: cover;
}

.mtf-container{
  background: white;
  border-radius: 25px;
  padding: 60px;
  width: 80%;
  margin: 80px auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.mtf-left{
  width: 53%;
}

.paytm-money-logo{
  width: 120px;
  margin-bottom: 5px;
}

.mtf-left h1{
  font-size: 33px;
}

.highlight{
  color: #00baf2;
  font-size: 34px;
}

.mtf-left p{
  width: 90%;
}

.mtf-btn{
  margin-top: 20px;
  background:darkblue;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 170px;
  height: 30px;
}
#terms{
    font-size: 11px;
}
#terms a{
    color: #00baf2;
}

.paytmphone{
  width: 45%;
  height: 50%;
}
.online-offline-container{
  background: white;
  border-radius: 25px;
  padding: 60px;
  width: 80%;
  height: 600px;
  margin: 80px auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.paytm-for-business-logo{
  width: 90px;
  
}
.onof-left h1{
  font-size: 45px;
}
.onof-left span{
   font-size: 40px; 
   color: #00baf2;
}
.onof-left p{
    font-size: 20px;
}
.onofBtn{
  margin-top: 20px;
  background:darkblue;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 140px;
  height: 30px;
}
.AIonof-img{
  width: 600px;
  height: 600px;
  border-radius: 25px;
  position: absolute;
  right: 1px;
  
}

.footer-container{
  background: white;
  border-radius: 25px;
  padding: 60px;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1); 
}
.footer-links p {
  display: flex;
  align-items: center;
  gap: 15px; /*line gap*/
  padding: 14px 0;
  color:darkslategray;
  font-size: 14px;
  margin-left: 93px;
  margin-right: 90px;
}
.footer-links hr{
   margin-left: 93px;
  margin-right: 90px; 
}

.footer-links p::after{ /*for that line after +copntent*/
  content: ""; /*Creates an empty element*/
  flex: 1; /*strech of line*/
  height: 1px;
  background-color: #ccc;
}

.footer-bottom{
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin-top: 30px;
  font-size: 15px;
  color: #666;
  margin-left: 93px;
  
}

.social{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 90px; 
}

.social img{
  width: 25px;
  height: 25px;
}

.bottom-line{
    width: 100%;

}
.light-blue{
    height: 10px;
    background-color: #00baf2;
}
.dark-blue{
 height: 10px;
    background-color:darkblue;   
}
